.article-wrapper {
    max-width: 800px !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 96px 48px 0 48px !important;
}

.article .text-title {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.article .text-subtitle {
    font-style: italic;
}