:root {
    --f-ferrari-font: "FerrariSans";
}

body,
html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: var(--f-ferrari-font);
    font-size: 13px;
    letter-spacing: .015em;
    line-height: 1.5;
    overflow-x: clip;
}

strong {
    font-family: 'Body-Font';
}

.default-content-wrapper ul {
    align-items: center;
}

.icon-brand img {
    fill: white;
}

.default-content-wrapper {
    padding: 96px 48px !important;
    max-width: calc(800px + 48px * 2) !important;
    width: 100%;
    margin: 0 auto !important;
    background-color: white;
}

@font-face {
    font-display: fallback;
    font-family: FerrariSans;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Ferrari-SansRegular.woff2?v=1") format("woff2"),
         url("/fonts/Ferrari-SansRegular.woff?v=1") format("woff");
}

@font-face {
    font-display: fallback;
    font-family: FerrariSans;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    src: url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/Ferrari-SansMedium.woff2?v=1") format("woff2"),
         url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/Ferrari-SansMedium.woff?v=1") format("woff");
}

@font-face {
    font-display: fallback;
    font-family: FerrariSans;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/NotoSans-Regular.woff2?v=1") format("woff2"),
         url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/NotoSans-Regular.woff?v=1") format("woff");
    unicode-range: U+f900-faff,U+ff00-ffef,U+2e80-9fff,U+04??;
}

@font-face {
    font-display: fallback;
    font-family: FerrariSans;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    src: url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/NotoSans-Bold.woff2?v=1") format("woff2"),
         url("../../../etc.clientlibs/ferrari-fcom/clientlibs/clientlib-site/resources/fonts/NotoSans-Bold.woff?v=1") format("woff");
    unicode-range: U+f900-faff,U+ff00-ffef,U+2e80-9fff,U+04??;
}